* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: #000000;
}

body::-webkit-scrollbar {
    display: none;
}

.main {
    height: 100%;
    width: 100%;

}

.signIn {
    height: 90vh;
    width: 30vw;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url('https://images.unsplash.com/photo-1540924248731-f9e3320d836a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
    opacity: .9;
    display: none;
}

.Login {


    height: 90vh;
    width: 30vw;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url('https://images.unsplash.com/photo-1540924248731-f9e3320d836a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
    opacity: .9;
    display: none;


}

.box {
    height: 50%;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(240, 248, 255, 0.551);
}

#InputName {
    border: none;
    border-bottom: 1px solid black;
    background-color: transparent;
    outline: none;
    height: 40px;
    width: 80%;
    margin: 50px;
    font-size: 20px;
    color: black;
}

#InputNameV {
    border: none;
    border-bottom: 1px solid black;
    background-color: transparent;
    outline: none;
    height: 40px;
    width: 80%;
    margin: 50px;
    font-size: 20px;
    color: black;
}

#InputPassword {
    border: none;
    border-bottom: 1px solid black;
    background-color: transparent;
    outline: none;
    height: 40px;
    width: 80%;
    margin-top: 10px;
    margin-left: 50px;
    font-size: 20px;
    color: black;
}

#InputPasswordV {
    border: none;
    border-bottom: 1px solid black;
    background-color: transparent;
    outline: none;
    height: 40px;
    width: 80%;
    margin-top: 10px;
    margin-left: 50px;
    font-size: 20px;
    color: black;
}

.lower {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10px;
}

a {
    text-decoration: none;
    color: black;
}

.btnS {
    height: 40px;
    width: 150px;
    background-color: #00bfff;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    margin-top: 50px;
    cursor: pointer;
    margin-left: 130px;
    text-decoration: none;
    margin-bottom: 12px;
}

.btnL {
    height: 40px;
    width: 150px;
    background-color: #00bfff;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    margin-top: 50px;
    cursor: pointer;
    margin-left: 130px;
    text-decoration: none;
    margin-bottom: 12px;
}

.switchS {
    outline: none;
    border: none;
    text-decoration: none;
    margin-left: 10rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: pointer;
}

.switchL {
    outline: none;
    border: none;
    text-decoration: none;
    margin-left: 10rem;
    background: transparent;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: pointer;
    /* font-style: 20px !important; */
}

small {
    font-size: 13px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 10px;
    /* margin-left: 50px; */
}

.Cart {
    height: 110vh;
    width: 30vw;
    background-color: whitesmoke;

    position: relative;
    /* position: absolute; */
    top: 10%;
    left: 50%;
    transform: translate(-50%, -10%);


}

.navbar {
    height: 8%;
    width: 100%;
    /* background-color: #00bfff; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;

}

i {
    font-size: 30px;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

#logo>img {
    height: 100%;
    width: 50px;
    background-color: #00bfff;

}

#Searchbar {
    height: 40px;
    width: 95%;
    border: 1px solid black;
    border-radius: 50px;
    margin-top: 10px;
    margin-left: 15px;
    outline: none;
    padding: 0 10px;
    font-size: 20px;
}

.Items {
    height: 86%;
    width: 70%;
    padding: 30px;
    position: absolute;
    display: flex;
    font-family: apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* flex-direction: column; */


}

#Item0 {
    display: flex;
    height: 30%;
    width: 100%;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    top: 0%;
    left: 25%;
    transform: translate(-10%, 0%);
    line-height: 25px;
    /* margin-left: 10rem; */
}

.Item{
margin-left: 2rem !important;
/* margin-top: rem; */
}
#Item1 {
    display: flex;
    position: absolute;
    top: 27%;
    left: 16%;
    height: 30%;
    width: 100%;
    /* flex-direction: row; */
    align-items: center;
    justify-content: space-evenly;
    line-height: 25px;

}
#Item3 {
    display: flex;
    position: absolute;
    top: 53%;
    left: 14%;
    height: 30%;
    width: 100%;
    /* flex-direction: row; */
    align-items: center;
    justify-content: space-evenly;
    line-height: 25px;

}

.Item1Img>img {
    height: 150px;
    width: 150px;

    /* background-color: red; */
}

.capsule {
    height: 25px;
    width: 150px;
    background-color: #c8c8c892;
    display: flex;
    border-radius: 30px;
    align-items: center;
    justify-content: space-between;
    /* background-color: red; */

}

.left {
    height: 90%;
    width: 24px;
    /* background-color: red; */
    display: flex;
    align-items: center;
    border-radius: 50%;
    margin-left: 3px;
    border: 2px solid grey;
    justify-content: center;
}

.right {
    height: 80%;
    width: 20px;
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    /* border-radius: 50%; */
    margin-right: 5px;

    justify-content: center;
}

.right>#add {
    font-style: 10px !important;
    color: grey;
}

#sub {
    color: gray;
}

#delete1 {
    height: 25px;
    margin-top: 30px;
    width: 55px;
    border: 1px solid orange;
    border-radius: 10px;
    outline: none;
    color: orange;
}
#delete0 {
    height: 25px;
    margin-top: 30px;
    width: 55px;
    border: 1px solid orange;
    border-radius: 10px;
    outline: none;
    color: orange;
    margin-top: 22px;
}
#delete3 {
    height: 25px;
    margin-top: 30px;
    width: 55px;
    border: 1px solid orange;
    border-radius: 10px;
    outline: none;
    color: orange;
}

#SeeMore0 {
    height: 25px;
    margin-top: 30px;
    width: 150px;
    margin-left: 20px;
    border: 1px solid orange;
    border-radius: 10px;
    outline: none;
    color: orange;
    position: absolute;
    top: 59%;

}
#SeeMore1 {
    height: 25px;
    margin-top: 30px;
    width: 150px;
    margin-left: 20px;
    border: 1px solid orange;
    border-radius: 10px;
    outline: none;
    color: orange;
    position: absolute;
}
#SeeMore3 {
    height: 25px;
    margin-top: 30px;
    width: 150px;
    margin-left: 20px;
    border: 1px solid orange;
    border-radius: 10px;
    outline: none;
    color: orange;
    position: absolute;
}

.total{
    height: 10%;
    width: 100%;
    position: absolute;
    bottom: 6%;
    left: 15%;
    transform: translate(30%, 15%);
}
.total>h3{
    margin-left: -2rem;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 1rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.proceed>button{
    height: 40px;
    width: 80%;
    border: 1px solid orange;
    border-radius: 10px;
    outline: none;
    color: orange;
    font-size: 20px;
    font-weight: 500;
    margin-left: -10rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}